@model AceTC.Models.studRegister

@{
    ViewBag.Title = "editStudentList";
    Layout = "~/Views/Shared/navBar.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.studreg_ic)

    @if (ViewBag.totalsub == 1)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    else if (ViewBag.totalsub == 2)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    else if (ViewBag.totalsub == 3)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_3, "Subject 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_3", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }
    else if (ViewBag.totalsub == 4)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_3, "Subject 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_3", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_4, "Subject 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_4", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }
    else if (ViewBag.totalsub == 5)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_3, "Subject 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_3", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_4, "Subject 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_4", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_5, "Subject 5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_5", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    else if (ViewBag.totalsubj == 6)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_3, "Subject 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_3", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_4, "Subject 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_4", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_5, "Subject 5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_5", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_5, "Subject 6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_6", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }
    else if (ViewBag.totalsubj == 7)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.subject_1, "Subject 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_1", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_2, "Subject 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_2", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_3, "Subject 3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_3", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_4, "Subject 4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_4", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_5, "Subject 5", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_5", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_5, "Subject 6", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_6", new SelectList(ViewBag.subj, "subject_code", "subject_name"))
                @Html.ValidationMessageFor(model => model.subject_6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>


    }
</div>
}
