@{

    Layout = null;
    ViewBag.Title = "Contact";

}

<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Pusat Tuisyen Madani</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assetslp/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/assetslp/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/assetslp/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assetslp/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/assetslp/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/assetslp/css/style.css">


</head>

<body>

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navgition navgition-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img style="width:150px;height:60px;" src="~/assetslp/images/logo.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFour" aria-controls="navbarFour" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarFour">
                                <ul class="navbar-nav m-auto" style="width: 50px;">
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("Index","Home")">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("About","Home")">SERVICES</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="@Url.Action("Contact","Home")">CONTACT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("Index","Login")">LOGIN</a>
                                    </li>
                                </ul>
                            </div>

                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navgition -->
        </header>
        <!--====== HEADER PART ENDS ======-->
        <!--====== CALL TO ACTION PART START ======-->

        <section id="call-to-action" class="call-to-action" style="padding-top:150px;">
            <div class="call-action-image">
                <img src="~/assetslp/images/call-to-action.png" alt="call-to-action">
            </div>

            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <div class="call-action-content text-center">
                            <h2 class="call-title">Contact</h2>
                            <p class="text">For any enquiries can reach out this contact details.</p>
                            <div class="row justify-content-center">
                                <div class="single-pricing mt-40">
                                    <div class="pricing-header text-center">
                                        <h5 class="sub-title">Pusat Tuisyen Madani</h5>
                                    </div>
                                    <div class="pricing-list">
                                        <ul class="text-left">
                                            <li><i class="lni-check-mark-circle"> Address </i> Taman Mutiara Rini, Johor</li>
                                            <li><i class="lni-check-mark-circle"> Number </i> +03 123456789</li>
                                            <li><i class="lni-check-mark-circle"> Email </i> aceeducation@gmail.com</li>
                                            <br />
                                            <br />
                                        </ul>
                                    </div>

                                    <div class="buttom-shape">
                                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 112.35">
                                            <defs>
                                                <style>
                                                    .color-1 {
                                                        fill: #2bdbdc;
                                                        isolation: isolate;
                                                    }

                                                    .cls-1 {
                                                        opacity: 0.1;
                                                    }

                                                    .cls-2 {
                                                        opacity: 0.2;
                                                    }

                                                    .cls-3 {
                                                        opacity: 0.4;
                                                    }

                                                    .cls-4 {
                                                        opacity: 0.6;
                                                    }
                                                </style>
                                            </defs>
                                            <title>bottom-part1</title>
                                            <g id="bottom-part"><g id="Group_747" data-name="Group 747"><path id="Path_294" data-name="Path 294" class="cls-1 color-1" d="M0,24.21c120-55.74,214.32,2.57,267,0S349.18,7.4,349.18,7.4V82.35H0Z" transform="translate(0 0)" /><path id="Path_297" data-name="Path 297" class="cls-2 color-1" d="M350,34.21c-120-55.74-214.32,2.57-267,0S.82,17.4.82,17.4V92.35H350Z" transform="translate(0 0)" /><path id="Path_296" data-name="Path 296" class="cls-3 color-1" d="M0,44.21c120-55.74,214.32,2.57,267,0S349.18,27.4,349.18,27.4v74.95H0Z" transform="translate(0 0)" /><path id="Path_295" data-name="Path 295" class="cls-4 color-1" d="M349.17,54.21c-120-55.74-214.32,2.57-267,0S0,37.4,0,37.4v74.95H349.17Z" transform="translate(0 0)" /></g></g>
                                        </svg>
                                    </div>
                                </div> <!-- single pricing -->
                            </div>
                        </div> <!-- slider-content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </section>

        <!--====== CALL TO ACTION PART ENDS ======-->
        <!--====== FOOTER PART START ======-->

        <footer id="footer" class="footer-area">
            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="footer-link">
                            <h6 class="footer-title">Company</h6>
                            <ul>
                                <li><a class="btn btn-info" href="@Url.Action("About","Home")">About</a>    <a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact</a>    <a class="btn btn-info" href="@Url.Action("Index","Home")">Home</a> </li>
                            </ul>
                        </div> <!-- footer link -->
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- footer widget -->

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright text-center">
                                <p class="text">Developed by <a rel="nofollow" href="https://uideck.com">LuxTech</a> - @DateTime.Now.Year </p>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- footer copyright -->
        </footer>

        <!--====== FOOTER PART ENDS ======-->

        <!--====== BACK TO TOP PART START ======-->

        <a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

        <!--====== BACK TO TOP PART ENDS ======-->
        <!--====== jquery js ======-->
        <script src="~/assetslp/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="~/assetslp/js/vendor/jquery-1.12.4.min.js"></script>

        <!--====== Bootstrap js ======-->
        <script src="~/assetslp/js/bootstrap.min.js"></script>
        <script src="~/assetslp/js/popper.min.js"></script>

        <!--====== Scrolling Nav js ======-->
        <script src="~/assetslp/js/jquery.easing.min.js"></script>
        <script src="~/assetslp/js/scrolling-nav.js"></script>

        <!--====== Magnific Popup js ======-->
        <script src="~/assetslp/js/jquery.magnific-popup.min.js"></script>

        <!--====== Main js ======-->
        <script src="~/assetslp/js/main.js"></script>

</body>

</html>
