@{ 

    Layout = null;
    ViewBag.Title = "Index";

}

<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Pusat Tuisyen Madani</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assetslp/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/assetslp/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="~/assetslp/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assetslp/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/assetslp/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/assetslp/css/style.css">


</head>

<body>

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navgition navgition-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img style="width:150px;height:60px;" src="~/assetslp/images/logo.png" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarFour">
                                <ul class="navbar-nav m-auto" style="width: 50px;">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="@Url.Action("Index","Home")">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("About","Home")">SERVICES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("Contact","Home")">CONTACT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="@Url.Action("Index","Login")">LOGIN</a>
                                    </li>
                                </ul>
                            </div>

                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navgition -->

        <div id="home" class="header-hero bg_cover">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="header-content text-center">
                            <h3 class="header-title">Pusat Tuisyen Madani</h3>
                            <p class="text">Login to start your session. View children details and upload payment proof. Best tuition center.</p>
                            <ul class="header-btn">
                                <li><a class="main-btn btn-one" href="@Url.Action("Index","Login")">LOG IN</a></li>
                            </ul>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape">
                <img src="~/assetslp/images/header-shape.svg" alt="shape">
            </div>
        </div> <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->
    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="footer-link">
                        <h6 class="footer-title">Company</h6>
                        <ul>
                            <li><a class="btn btn-info" href="@Url.Action("About","Home")">About</a>    <a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact</a>    <a class="btn btn-info" href="@Url.Action("Index","Home")">Home</a> </li>
                        </ul>
                    </div> <!-- footer link -->
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p class="text">Developed by <a rel="nofollow" href="https://uideck.com">LuxTech</a> - @DateTime.Now.Year </p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TO TOP PART START ======-->

    <a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/assetslp/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assetslp/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/assetslp/js/bootstrap.min.js"></script>
    <script src="~/assetslp/js/popper.min.js"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="~/assetslp/js/jquery.easing.min.js"></script>
    <script src="~/assetslp/js/scrolling-nav.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assetslp/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/assetslp/js/main.js"></script>

</body>

</html>
