@model IEnumerable<AceTC.Models.MultipleClass>

@{
    ViewBag.Title = "DeleteStudent";
    Layout = "~/Views/Shared/navBarAdmin.cshtml";

    if (Session["admin_id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<button style="float:left;" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("CreateOutstanding", "OutstandingController")';return false;"><i class="ft-plus"></i>&nbsp;Add Outstanding Payment</button>&nbsp;&nbsp;
<input type="submit" value="Save" class="btn btn-default" />
<br />
<br />
<p class="card-text"></p>
<p><span class="text-bold-600"></span></p>
<div class="table-responsive">
    <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
        <thead>
            <tr>
                <th>Parent Name</th>
                <th>Student Name</th>
                <th>Student Name (Chinese)</th>
                <th>Package </th>
                <th>Tuition Fees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {

            <tr>
                <td>@student.parentdetails.parents_name</td>
                <td>@student.studentdetails.student_name</td>
                @if (@student.studentdetails.student_cname == null)
                {
                    <td>N/A</td>
                }
                else
                {
                    <td>@student.studentdetails.student_cname</td>
                }
                <td>@student.packagedetails.package_desc</td>
                <td>@student.packagedetails.package_price</td>
            </tr>

            }

        </tbody>
    </table>
</div>
