@model AceTC.Models.Outstanding

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Outstanding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.O_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_pID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_pID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.O_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.O_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
